<div class="duke">
    <div class="container">
        <div class="row">
            <div class="duke-heading">
              GuruM
              <p>A Cloud of Ideas</p>
            </div>
        </div>
        <body>
          <header>
              <div class="header-content">
                  <a href="#about" class ="btn btn-primary btn-xl page-scroll">Start Matching</a>
              </div>
          </header>
        </body>
    </div>

</div>
